doctype html
html(lang='en')
    head
        title= 'Tribute Page'
    body
        h1 Tribute to Jon Snow
        img(src='./images/you-know-nothing.gif', alt='Ygritte saying You know nothing')
        
        
