doctype html
html(lang='en')
    head
        meta(charset="utf-8")
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no')

        title= 'Tribute Page to Jon Snow'

        link(href='css/custom.css', rel='stylesheet')
        script(src='./js/jquery.min.js')
        script(src='./js/bootstrap.min.js')
    body
        .container.text-center
            .row
                .col-md-8.col-md-offset-2#main
                    #myCarousel.carousel.slide(data-ride='carousel')
                        ol.carousel-indicators
                            li.active(data-target='myCarousel', data-slide-to='0')
                            li(data-target='myCarousel', data-slide-to='1') 
                            li(data-target='myCarousel', data-slide-to='2') 
                            li(data-target='myCarousel', data-slide-to='3') 

                        .carousel-inner(role='listbox')
                            .item.active
                                img(src='./images/jon-snow-6-seasons.jpg', alt='Jon Snow')
                            .item
                                img(src='./images/jon-snow-giving-speech.jpg', alt='JonSnow')
                            .item
                                img(src='./images/jon-snow-fighting-white-walker.jpg', alt='Jon Snow')
                            .item
                                img(src='./images/samwell-tarly.jpg', alt='Samwell-tarly')

                        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
                            span.icon-prev(aria-hidden='true')
                            span.sr-only Previous
                        a.right.carousel-control(href='#myCarousel',        role='button',data-slide='next')
                            span.icon-next(aria-hidden='true')
                            span.sr-only next
                    h1 Jon Snow
                    h2 The True Heir to the Iron Throne