@import "bootstrap";

@font-face {
    font-family: 'game-of-thrones';
    src: url('../fonts/game-of-thrones.ttf') format('ttf'),
         url('../fonts/game-of-thrones.woff') format('woff'),
         url('../fonts/game-of-thrones.woff2') format('woff2');
}

body {
    font-family: 'game-of-thrones', Geneva, Tahoma, sans-serif;
    background-color: #707070;
    color: #dbd9d9;
}

h1, h2 {
    font-weight: 700;
    text-shadow: 2px 2px black;
}

.carousel {
    width: 100%;
    max-height: 500px;
    overflow: hidden;

    .item img {
        width: 100%;
        height: auto;
    }
}
