@import "bootstrap";

@font-face {
    font-family: 'game-of-thrones';
    src: url('../fonts/game-of-thrones.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

$textcolor: #2471bb;
$backgroundcolor: #707070;

body {
    font-family: 'game-of-thrones' !important;
    background-color: #161616;
}

h1, h2, h3 {
    text-shadow: 1px 3px black;
}

.carousel {
    width: 100%;
    min-height: 200px;
    max-height: 375px;
    overflow: hidden;

    .item img {
        width: 100%;
        min-height: 200px;
        height: auto;
    }
}

#main{
    background-color: $backgroundcolor;
    color: $textcolor;
    box-shadow: 0 0 10px 10px #424242;
    padding-top: 20px;
}

#seconday {
    background-color: $textcolor;
    color: $backgroundcolor;
}

span {
    font-size: 55px;
}